@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Roboto Mono';
  src: url('../../public/assets/typography/Roboto_Mono/static/RobotoMono-Regular.ttf') format('truetype');
  font-style: normal;
}

* {
  font-family: 'Roboto Mono';
}

html, body {
  background-color: '#182842';
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 24, 40, 66;
  --background-end-rgb: 24, 40, 66;
}

body {
  color: rgb(255, 255, 255);
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.showoff {
  color: rgb(218, 41, 28);
}

h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(206, 171, 93);
  text-shadow: 2px 2px black;
  font-weight: bolder;
}

p {
  text-align: justify;
}

.workexp-list ul {
    list-style-type: circle;
}

.workexp-list ul li {
  margin-top: 5px;
}